/* https://every-layout.dev/layouts/sidebar/ */

body {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.1rem;
}

/* Layout:
| main-col       | sidebar |
| • header       |         |
|   • blog-title |         |
|   • pages      |         |
|   • sites      |         |
|   • author     |         |
| • content      |         |
*/

.sidebar {
  width: 8rem;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  background: lightblue;
}

.main-col {
  flex-grow: 1;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  background: white;
}

/* ========== Header ========== */

.header {
  padding: 0.5rem;
  background: lightblue;
  align-self: stretch;
  text-align: center;
}

.blog-title {
  font-size: x-large;
}

.sites {
  font-size: 80%;
  color: hsl(0, 0%, 20%);
}

.author {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

/* ========== Content ========== */

.content {
  min-width: 20rem;
  max-width: 34rem;
  padding: 0.5rem;
}
